body {
	background:#fefefe;
}
h1, h2, li, p, a {
	font-family:'Roboto Slab', serif;
}
h1.title {
	padding:1em;
	border:1px solid #f87849;
	color:#f87849;
}
img {
	margin:2em 0;
}
hr {
	border-color: #f87849;
}
header {
	padding:1em;
	background:#f87849;
}
header img {
	margin:0.5em 0;
}
section.column {
	padding:2em;
}
footer {
	padding:1em;
	background:#eee;
	text-align: center;
}
footer a {
	color:#000;
}
